:root{
  --site-font-color : #5E6282; /* add variable to be used in the style*/
  --big-heading-font: Volkhov, sans-serif
}

@font-face {
  font-family: Volkhov;
  src: url("fonts/Volkhov.ttf");
}

@font-face {
  font-family: OpenSans;
  src: url("fonts/OpenSans.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("fonts/Poppins.ttf");
}

@keyframes bannerImage {
  0%{
    right: -700px;
    opacity: 0;
  }
  50%{
    opacity: 100%;
  }
  100%{
    right: 50px;
    opacity: 100%;
  }
}

body {
  position: relative;
  margin: 0;
  background-image: url("images/headerBg.svg");
  background-repeat: no-repeat;
  background-position: top right;
  font-family: Poppins, sans-serif;
  background-color: rgba(221, 221, 221, 0.2);
  overflow-x: hidden;
}
.nav-link{
  color: #212832;
}
.container{
  position: relative;
}
nav{
  display: inline;
}

.nav-ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap ;
  justify-content: space-evenly;
  width: 500px;
  padding: 0;
}
.nav-list{
  list-style: none;
  font-size: 1em; /* default font size of the browser = 16 px*/
}

.main-banner{
  position: relative;
  display: flex;
  justify-content: space-between;
}

.traveler-img{
  position: absolute;
  right: 50px;
  height: 90%;
  animation-name: bannerImage;
  /*animation-duration: 5s;
  animation-delay: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-direction: normal; */
  animation: bannerImage 5s ease 0.5s 1 normal both;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  
}

.traveler-img:hover{
  animation-play-state: paused;
}

.slide-description{
  position: relative;
  padding-top: 75px;
  padding-bottom: 150px;
  width: 420px;
}

.slide-description h4{
  color: #DF6951;
  text-transform: uppercase;
  font-size: 18px;
}

.big-title{
  position: relative;
}

.decore-line{
  position: absolute;
  top: 50px;
  right: -146px;
  z-index: 0;
}

.slide-description h1{
  position: relative;
  font-family: var(--big-heading-font) ;
  font-size: 3.5em; 
  color: #181E4B;
  margin-block: 24px; /* equal margin-top and margin-bottom */
  line-height: 70px;
  z-index: 1;
}

.slide-description p{
  color: var(--site-font-color);
  font-size: 1em;
  margin-block: 6px; /* equal margin-top and margin-bottom */
  line-height: 30px;
}

.slide-cta{
  margin-top: 28px
}

.find-out-button{
  border-width: 0px;
  background-color: #F1A501;
  width: 170px;
  height: 60px;
  font-family: Poppins, sans-serif;
  color: #FFF;
  border-radius: 10px; /* corners radius 10px 10px 10px 10px */ 
  box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15); /* x y blur color */
}

.play-demo-button{
  position: relative;
  border-width: 0px;
  background-color: transparent;
  width: 170px;
  height: 60px;
  font-size: 1em;
  margin-left: 44px;
}

.play-demo-button img{
  position: absolute;
  display: inline;
  top: -12px;
  left: -25px;
}

.play-demo-button span{
  position: relative;
  left: 20px;
  font-family: Poppins, sans-serif;
  font-size: 1em;
  color: #686D77;
}

.categories{
  position: relative;
  margin-top: 100px;
}

.ctegory-bg{
  position: absolute;
  top: 0;
  right: 20px;
}

.section-title{
  font-size: 1em;
  text-transform: uppercase;
  color: var(--site-font-color);
  text-align: center;
  margin-bottom: 0;
}

.section-heading{
  font-family: var(--big-heading-font);
  font-size: 3em;
  color: #14183E;
  text-align: center;
  margin-block: 10px;
}

.categories-container{
  position: relative;
  display: flex;
  margin: 50px;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category-card{
  position: relative;
  background-color: rgba(221, 221, 221, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  border-radius: 36px;
  text-align: center;
  transition-property: background-color,  box-shadow;
  transition-duration: 2s;
  margin-bottom: 2em;
}

.category-card:hover /* :hover => when mouse move over the element*/ {
  background-color: rgba(255, 255, 255,1);
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.2);
  transition-property: background-color,  box-shadow;
  transition-duration: 2s;
}

.category-image-container{
    width: 100px;
    height: 100px;
    position: relative;
    margin: auto;
    margin-top: 50px;
}

.category-image-container img{
    position: relative;
    bottom: 0;
}

.category-card{
  border-color: transparent;
  border-width: 0px;
}

.category-card h4{
  font-family: OpenSans, sans-serif;
  margin-block: 15px;
  color: #1E1D4C;
}

.category-card p{
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 180px;
  margin: auto;
  color: var(--site-font-color);
  line-height: 28px;
  
}

.top-selling{
  margin-top: 123px;
  margin-bottom: 132px;
}

.top-selling-container{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 60px;
  width: 100%;
  flex-wrap: wrap;
}

.top-bg{
  position: absolute;
  right: 10px;
  bottom: 41px;
  z-index: 0;
}

.top-selling-card{
  width: 314px;
  height: 457px;
  border-radius: 24px;
  background-color: #FFF;
  overflow: hidden;
  box-shadow: 0 100px 80px rgba(0,0,0,0.02);
  z-index: 1;
  margin-bottom: 2em;
}

.trip-pic{
  height: 327px
}

.trip-details{
  padding: 1.5em;
  font-size: 1em;
  color: var(--site-font-color);
}

.trip-details-price{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1em;
}

.booking{
  display: flex;
  justify-content: space-between;
}

.booking-steps{
  width: 50%;
  margin-bottom: 8em;
}
/*.booking-steps .section-title, .booking-steps .section-heading*/
.booking-steps :where(.section-title, .section-heading){  
  text-align: left;
}

.booking-step{
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
  width: 400px;
  color: var(--site-font-color);
}

.booking-step-icon{
  width: 3em;
}

.booking-step-icon{
  transform: rotate(0deg);
  transition: transform 1s;
}

.booking-step-icon:hover{
  transform: rotate(45deg);
  transition: transform 1s;
}

.booking-step-description{
  width: 330px;
}
.booking-step-description p{
  margin-block: 4px;
}

.booking-card{
  width: 40%;
}

.booking-card img{
  width: 100%;
  /* transition-property: width;
  /*transition-duration: 2s;
  /* transition-delay: 1s; */
 /*transition-timing-function: ease; */
  transition: width 2s 1s ease; /* property duration delay function*/
}

.booking-card img:hover{
  width: 120%;
  transition: width 2s 1s ease; /* property duration delay function*/
  
}



footer{
  text-align: center;
  color: var(--site-font-color);
}

/*
transition
transition-delay => time before transition 
transition-duration => time for transition 
transition-property => property (height, width, background, ..)
transition-timing-function => how ?
  ease - specifies a transition effect with a slow start, then fast, then end slowly (this is default)
  linear - specifies a transition effect with the same speed from start to end
  ease-in - specifies a transition effect with a slow start
  ease-out - specifies a transition effect with a slow end
  ease-in-out - specifies a transition effect with a slow start and end
  cubic-bezier(n,n,n,n) - lets you define your own values in a cubic-bezier function =>designer

*/

/*
transform 2D

translate()  x , y ex: 30px, 50px
rotate() 45deg
scaleX() scale x2 x0.5
scaleY()
scale() 
skewX()
skewY()
skew()
matrix() matrix(scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY())
*/




/* @media media-type(screen,print, all) orientation(Landscape or portrait) height width */

/*break points */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #container{
    width: 100%;
    padding-inline: 2em;
  }
  .nav-ul{
    display: none;
  }
  .main-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .traveler-img{
    display: none;
  }
  .slide-description{
    width: 80%;
  }
  .slide-cta{
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
  }
  .play-demo-button{
    margin-left: 0px;
  }
  .top-bg{
    display: none;
  }

  .top-selling-card{
    width: 80%;
  }
  
  .booking{
    flex-direction: column;
  }
  .booking-steps{
    width: 80%;
  }
  .booking-step{
    width: 100%;
  }
  .booking-step-description{
    width: 80%;
  }
  .booking-card{
    width: 100%;
  }
  .booking-card img{
    position: relative;
    top: -240px;
  }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  #container{
    width: 100%;
    padding-inline: 2em;
  }
  .main-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .traveler-img{
    height: 60%;
    bottom: 0px;
    right: 0px;
  }
  .slide-description{
    width: 100%;
  }
  .slide-description p{
    width: 60%;
  }
  .slide-cta{
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
  }
  .play-demo-button{
    margin-left: 0px;
  }
  .top-bg{
    display: none;
  }

  .top-selling-card{
    width: 80%;
  }
  
  .booking{
    flex-direction: column;
  }
  .booking-steps{
    width: 80%;
  }
  .booking-step{
    width: 100%;
  }
  .booking-step-description{
    width: 80%;
  }
  .booking-card{
    width: 100%;
  }
  .booking-card img{
    position: relative;
    top: -240px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  #container{
    width: 100%;
    padding-inline: 2em;
  }
  .traveler-img{
    right: -50px;
    height: 75%;
  }
  .decore-line{
    display: none;
  }
  .slide-description{
    padding-top: 3em;
  }
  .top-bg{
    display: none;
  }
}

