/* Selectors : 
  1- Tag Name 
  2- class .nav-list
  3- id #container
*/

/* 
margin : space between element and the parent
padding: space between element and the child
border: border size
*/

/* display */
/*
block: take all row space. no elements beside it.
inline: accept elements to be beside it, its content width 

flex : "FlexBox"
1- Flex container
  flex-direction
  justify-content
  flex-wrap
  */

body {
  position: relative;
  margin: 0;
  background-image: url("/images/headerBg.svg");
  background-repeat: no-repeat;
  background-position: top right;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(221, 221, 221,0.2);
}

#container {
  position: relative;
  margin: auto;
  width: 1200px;
}


header{
  padding-top: 48px;
  display: flex;
  justify-content: space-between;
}

nav{
  display: inline;
}

.nav-ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap ;
  justify-content: space-evenly;
  width: 500px;
  padding: 0;
}
.nav-list{
  list-style: none;
  font-size: 16px;
}


.main-banner{
  display: flex;
  justify-content: space-between;
  background-image: url("/images/traveller-img.png");
  background-repeat: no-repeat;
  background-position: right top;
}

.slide-description{
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
  width: 420px;
}

.slide-description h4{
  color: #DF6951;
  text-transform: uppercase;
  font-size: 18px;
}

.big-title{
  position: relative;
}

.decore-line{
  position: absolute;
  top: 50px;
  right: -146px;
  z-index: 0;
}

.slide-description h1{
  position: relative;
  font-family:'Times New Roman', Times, serif ;
  font-size: 69px;
  color: #181E4B;
  margin-block: 24px; /* equal margin-top and margin-bottom */
  line-height: 70px;
  z-index: 1;
}

.slide-description p{
  color: #5E6282;
  font-size: 16px;
  margin-block: 6px; /* equal margin-top and margin-bottom */
  line-height: 30px;
}

.slide-cta{
  margin-top: 28px
}

.find-out-button{
  border-width: 0px;
  background-color: #F1A501;
  width: 170px;
  height: 60px;
  font-family:Arial, Helvetica, sans-serif;
  color: #FFF;
  border-radius: 10px; /* corners radius 10px 10px 10px 10px */ 
  box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15); /* x y blur color */
}

.play-demo-button{
  position: relative;
  border-width: 0px;
  background-color: transparent;
  width: 170px;
  height: 60px;
  font-size: 17px;
  margin-left: 44px;
}

.play-demo-button img{
  position: absolute;
  display: inline;
  top: -12px;
  left: -25px;
}

.play-demo-button span{
  position: relative;
  left: 20px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #686D77;
}

.categories{
  position: relative;
  margin-top: 100px;
}

.ctegory-bg{
  position: absolute;
  top: 0;
  right: 20px;
}

.category-title{
  font-size: 18px;
  text-transform: uppercase;
  color: #5E6282;
  text-align: center;
  margin-bottom: 0;
}

.categories h2{
  font-family:'Times New Roman', Times, serif;
  font-size: 50px;
  color: #14183E;
  text-align: center;
  margin-block: 10px;
}

.categories-container{
  position: relative;
  display: flex;
  margin: 50px;
  justify-content: space-between;
}

.category-card{
  position: relative;
  background-color: transparent;
  width: 268px;
  height: 314px;
  border-radius: 36px;
  text-align: center;
}

.category-card:hover /* :hover => when mouse move over the element*/ {
  background-color: #FFF;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.2);
}

.category-image-container{
    width: 100px;
    height: 100px;
    position: relative;
    margin: auto;
    margin-top: 50px;
}

.category-image-container img{
    position: relative;
    bottom: 0;
}

.category-card h4{
  margin-block: 15px;
  color: 1E1D4C;
}

.category-card p{
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 180px;
  margin: auto;
  color: #5E6282;
  line-height: 28px;
  
}